.container{
    margin: 0 auto;
    width: 450px;
    border: 1px solid black;
    padding: 30px 30px;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff); 
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}


.tbl_box td{
    padding: 4px;
}

.tbl td{
    border: 2px solid black;
}

.selectid td{
    padding: 4px;
}



#blah{
    border: 1px solid black;
}

.left{
    height:120px;
    width: 120px;
    margin: 0px auto;
}


.left img{
    height:120px;
    width: 120px;
}


#dropZone {
    background-color: rgb(27, 107, 255);
    border: 1px dashed;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    color: white;
}
